# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Buckland_Chapter3-Steering Behaviors/.vs/Steering/v16/.suo
Buckland_Chapter3-Steering Behaviors/.vs/Steering/v16/Browse.VC.db
Buckland_Chapter3-Steering Behaviors/.vs/Steering/v16/Browse.VC.db-shm
Buckland_Chapter3-Steering Behaviors/.vs/Steering/v16/Browse.VC.db-wal
Buckland_Chapter3-Steering Behaviors/.vs/Steering/v16/Browse.VC.opendb
Buckland_Chapter3-Steering Behaviors/.vs/Steering/v16/ipch/AutoPCH/42926d48555312d3/AGENTPOURSUIVEUR.ipch
Buckland_Chapter3-Steering Behaviors/.vs/Steering/v16/ipch/AutoPCH/5576f2b3a3166979/GAMEWORLD.ipch
Buckland_Chapter3-Steering Behaviors/.vs/Steering/v16/ipch/AutoPCH/99d6cb1fc6a04d96/MAIN.ipch
Buckland_Chapter3-Steering Behaviors/.vs/Steering/v16/ipch/AutoPCH/a5f311a2c337b6db/AGENTLEADER.ipch
Buckland_Chapter3-Steering Behaviors/.vs/Steering/v16/ipch/AutoPCH/ef5b18928b2f30c9/STEERINGBEHAVIORS.ipch
Buckland_Chapter3-Steering Behaviors/Debug/AgentLeader.sbr
Buckland_Chapter3-Steering Behaviors/Debug/AgentPoursuiveur.sbr
Buckland_Chapter3-Steering Behaviors/Debug/Steering.bsc
Buckland_Chapter3-Steering Behaviors/Debug/Steering.ilk
Buckland_Chapter3-Steering Behaviors/Debug/Steering.log
Buckland_Chapter3-Steering Behaviors/Debug/Steering.pdb
Buckland_Chapter3-Steering Behaviors/Debug/Steering.tlog/bscmake.command.1.tlog
Buckland_Chapter3-Steering Behaviors/Debug/Steering.tlog/bscmake.read.1.tlog
Buckland_Chapter3-Steering Behaviors/Debug/Steering.tlog/bscmake.write.1.tlog
Buckland_Chapter3-Steering Behaviors/Debug/Steering.tlog/CL.command.1.tlog
Buckland_Chapter3-Steering Behaviors/Debug/Steering.tlog/CL.read.1.tlog
Buckland_Chapter3-Steering Behaviors/Debug/Steering.tlog/CL.write.1.tlog
Buckland_Chapter3-Steering Behaviors/Debug/Steering.tlog/link.command.1.tlog
Buckland_Chapter3-Steering Behaviors/Debug/Steering.tlog/link.read.1.tlog
Buckland_Chapter3-Steering Behaviors/Debug/Steering.tlog/link.write.1.tlog
Buckland_Chapter3-Steering Behaviors/Debug/vc142.idb
Buckland_Chapter3-Steering Behaviors/Debug/vc142.pdb
Buckland_Chapter3-Steering Behaviors/Steering.vcxproj
Buckland_Chapter3-Steering Behaviors/Steering.vcxproj.filters
